* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #F7EED3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .music-player-container {
    width: 90%;
    max-width: 700px;
    background-color: #AAB396;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .header {
    background-color: #674636;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2em;
  }
  
  .header input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #AAB396;
  }
  
  .controls {
    margin: 20px 0;
  }
  
  .controls button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #AAB396;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #674636;
  }
  
  .volume-control {
    margin: 20px 0;
  }
  
  .playlist {
    background-color: #674636;
    padding: 20px;
  }
  
  .playlist h2 {
    margin-bottom: 10px;
    color: #F7EED3;
  }
  
  #song-list {
    list-style-type: none;
  }
  
  #song-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  #song-list li:hover {
    background-color: #f7f7f7;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .music-player-container {
      width: 100%;
    }
  
    .controls button {
      font-size: 1em;
      padding: 8px 15px;
    }
  }
  